@font-face {
    font-family: monotonFont;
    src: url(assets/Monoton-Regular.ttf);
}

.mono-font{
    font-family: monotonFont;
}

.landing-page-image{
    background-image: url("assets/images/landingpage/tower.jpg");
    height: 100vh; /* cause to the picture to be as long as the viewport now because i didnt set the width so it will be filled automatically by keeping the image ratio*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.margin-top-navbar{
    margin-top: 100px;
}

.round-frame{
    border-radius: 10em 10em 5em 5em;
}

@media screen and (min-width: 768px){
    .float-to-right{
        float: right;
    }
}

.new-msg-btn{
    text-decoration: underline;
    font-weight: bold;
}

.grey-font{
    color: gray;
}

.img-property{
    width: 100%;
}

.info-style{
    color: blue;
}

.warning-style{
    color: red;
}

.date-style{
    color: grey;
    font-style: italic;
    font-size: 14px;
}

.bold-style{
    font-weight: bold;
}

.nopadding{
    padding: 0;
}